services:
  asf:
    image: justarchi/archisteamfarm
    restart: unless-stopped
    container_name: asf
    volumes:
      - '${ASF_CONFIG}:/app/config'
      - '${ASF_LOGS}:/app/logs'
      - '${ASF_PLUGINS}:/app/plugins'
    ports:
      - 1242:1242
